ALTER TABLE batches ALTER COLUMN course_id DROP NOT NULL;
ALTER TABLE batches ALTER COLUMN teacher_id DROP NOT NULL;
ALTER TABLE batches ALTER COLUMN room_id DROP NOT NULL;
ALTER TABLE batches ALTER COLUMN batch_name DROP NOT NULL;
ALTER TABLE batches ALTER COLUMN start_date DROP NOT NULL;
ALTER TABLE batches ALTER COLUMN expected_end_date DROP NOT NULL;
ALTER TABLE batches ALTER COLUMN max_students DROP NOT NULL;
ALTER TABLE batches ALTER COLUMN total_classes DROP NOT NULL;
ALTER TABLE batches ALTER COLUMN start_time DROP NOT NULL;
ALTER TABLE batches ALTER COLUMN end_time DROP NOT NULL;
